
.input {
    width: 100%;
    height: 3rem;
    border: 4px solid black;
    box-sizing: border-box;
    padding: 0 1rem;

    outline: none;

    font-size: 1.2rem;

    &::placeholder {
        font-style: italic;
    }
}
